body{
    background-image: url(./background2.jpg);
    background-attachment: fixed;    
    color:white;
}
.logo{
    display: flex;
    justify-content: center;
    /* background-color: black; */
    background-attachment: fixed;
}
.main{
    background-color: white;
    width: 90%;
    text-align: center;
    margin: auto;
    color: black;  
    
}